# ===== BTG Robotics Foundation - Environment Variables =====

SECRET_KEY=616662c42dfc4aa25402f436955b9b07f5622b224bae427dbc68ce94c53132dd

BTG_ADMIN_EMAIL=admin@bridgethegaprobotics.org
BTG_ADMIN_PASSWORD=admin123
BTG_PRESIDENT_PASSWORD=Vig1lant@16

# Named super admin (created on first run if the username is not taken)
BTG_SUPER_ADMIN_USERNAME=arv
BTG_SUPER_ADMIN_PASSWORD=trial@123
BTG_SUPER_ADMIN_NAME=Arv
BTG_SUPER_ADMIN_EMAIL=arv@bridgethegaprobotics.org